
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post">
<div class="container">
    <div class="m-3 fs-3 fw-bold py-4 border-bottom border-dark-subtle">訂單查詢</div>
    <div class="d-flex justify-content-between px-4">
        <div class="d-flex align-items-center gap-2">
            <div class="width-90px  ">每頁顯示 : </div>
            <div>
                <select class="form-select d-inline" aria-label="資料筆數">
                    <option value="">10</option>
                    <option value="">20</option>
                    <option value="">30</option>
                </select>
            </div>
            <div class="width-50px ">筆資料</div>
        </div>
        <div class="d-flex align-items-center">
            <div class="mx-3"><span>關鍵字搜尋</span></div>

            <div>
                <input type="text" name="" id="" placeholder="請輸入訂單關鍵字" class="form-control">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-2 my-4 border border-dark-subtle rounded-4 ">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>訂單日期</th>
                        <th>付款方式</th>
                        <th>訂單金額</th>
                        <th>詳情</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                        <td>
                            <span>Order001</span>
                        </td>
                        <td>2023/07/16</td>
                        <td>貨到付款</td>
                        <td>
                            <div class="text-danger">2000</div>
                        </td>
                        <td>
                            <a href="" class="link-underline-light link-secondary">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="circle-size-25">
                                        <img src="../Images/EmployeePhoto/edit.png" alt="">
                                    </div>
                                    <span>檢視訂單詳情</span>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Order001</span>
                        </td>
                        <td>2023/07/16</td>
                        <td>貨到付款</td>
                        <td>
                            <div class="text-danger">2000</div>
                        </td>
                        <td>
                            <a href="" class="link-underline-light link-secondary">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="circle-size-25">
                                        <img src="../Images/EmployeePhoto/edit.png" alt="">
                                    </div>
                                    <span>檢視訂單詳情</span>
                                </div>
                            </a>
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <nav class="d-flex justify-content-center" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</form>