
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post">
    <div class="container my-5 p-2">
        <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">個人資料</div>
        <div class="border border-secondary rounded-3 bg-opacity-25 bg-dark">
            <div class="text-center m-5">
                <div class="my-3 d-flex align-items-center justify-content-center">
                    <div class="text-end mx-2 fw-bold">輸入舊密碼 :</div>
                    <div>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="my-3 d-flex align-items-center justify-content-center">
                    <div class="text-end mx-2 fw-bold">輸入新密碼 :</div>
                    <div>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="my-3 d-flex align-items-center justify-content-center">
                    <div class="text-end mx-2 fw-bold">確認新密碼 :</div>
                    <div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-around p-5">
            <div class="text-center">
                <input type="submit" value="確定修改" class="btn btn-dark p-2 px-4">
                <input type="submit" value="取消" class="btn btn-light p-2 px-4">
            </div>
        </div>
    </div>
</form>