@model prjOniqueWebsite.Models.ViewModels.FMemberPasswordVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post" action="MemberPassword" name="PasswordForm">
    <div class="container">
        <input type="hidden" value="" />
        <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">修改密碼</div>
        <div class="">
            <div class="text-center m-5">
                <div class="my-3 d-flex align-items-center justify-content-center">
                    <div class="text-end mx-2 fw-bold">輸入舊密碼 :</div>
                    <div>
                        <input type="password" class="form-control" name="OldPassword" id="inputOldPassword">
                    </div>
                </div>
                <div class="my-3 d-flex align-items-center justify-content-center">
                    <div class="text-end mx-2 fw-bold">輸入新密碼 :</div>
                    <div>
                        <input type="password" class="form-control" name="NewPassword" id="inputNewPassword">
                    </div>
                </div>
                <div class="my-3 d-flex align-items-center justify-content-center">
                    <div class="text-end mx-2 fw-bold">確認新密碼 :</div>
                    <div>
                        <input type="password" class="form-control" name="ConfirmPassword" id="inputConfirmPassword">
                    </div>
                </div>
                <input type="checkbox" id="showPassword"> 顯示密碼
            </div>
        </div>
        <div class="row justify-content-around p-5">
            <div class="text-center">
                <input type="submit" value="確定修改" class="btnPasswordConfirm btn btn-dark p-2 px-4 btnSubmit">
                <input type="button" value="取消" class="btnPasswordCancel btn btn-light p-2 px-4">  
                <input type="button" class="btn btn-outline-secondary" value="Demo" id="Demo" />
            </div>
        </div>
    </div>
</form>
<script>
    $(".btnSubmit").on('click', async function (event) {
        event.preventDefault();

        const formData = new FormData(document.PasswordForm);

        const response = await fetch('@Url.Content("~/FMember/MemberPassword")', {
            body: formData,
            method: 'POST'
        })

        const data = await response.json();

        if (data.statusCode == 500) {
            Swal.fire({
                title: data.statusMessage,
                icon: 'error',
                showConfirmButton: false,
                timer: 1500
            })
        } else {
            Swal.fire({
                title: data.statusMessage,
                icon: 'success',
                showConfirmButton: false,
                timer: 1500,
            })
            setTimeout(() => {
                $('#divPartial').load('@Url.Content("~/fmember/MemberInfo")')
            }, 1500)
        }
    })
    $(document).ready(function () {
        $('#showPassword').on('change', function () {
            var passwordInput = $('#inputOldPassword');
            var newpasswordInput = $('#inputNewPassword');
            var confirmpasswordInput = $('#inputConfirmPassword');
            if ($(this).is(':checked')) {
                passwordInput.attr('type', 'text');
                newpasswordInput.attr('type', 'text');
                confirmpasswordInput.attr('type', 'text');
            } else {
                passwordInput.attr('type', 'password');
                newpasswordInput.attr('type', 'password');
                confirmpasswordInput.attr('type', 'password');
            }
        });
    });
    $('#Demo').on('click', function () {
        $('#inputOldPassword').val("password1234")
        $('#inputNewPassword').val("password12345")
        $('#inputConfirmPassword').val("password12345")
    })
</script>