
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}

<div class="container my-5 p-2 border border-secondary rounded-4 shadow">
    <div class="m-3 fs-3 fw-bold text-center border-bottom py-4 border-dark-subtle">編輯員工</div>
    <div class=" p-2 my-3 justify-content-around row ">
        <div class=" col-3 ">
            <div class=" p-2 d-flex justify-content-center">
                <img src="../Images/ManagerPhoto/範例頭貼1.jpg"
                     class="rounded rounded-4 width-300px img-thumbnail img-fluid" />
            </div>
            <div>
                <input type="file" name="" id="" class="form-control my-5">
            </div>
        </div>
        <div class=" col-8 border mx-2">
            <div class="p-2 ">
                <div class="row justify-content-around  p-3 ">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">姓名</div>
                        <div class="mx-2">
                            <input type="text" class="form-control " value="peter" />
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">生日</div>
                        <div class="mx-2">
                            <input  type="date" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">性別</div>
                        <div class="mx-3">
                            <input type="radio" id="option1" name="option" value="option1" />
                            <label for="option1">男</label>
                            <input type="radio" id="option2" name="option" value="option2" />
                            <label for="option2">女</label>
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">電話</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" value="0999999999">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">信箱</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" value="peter@gmail.com">
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">密碼</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" value="1234">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around p-3">
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">身分</div>
                        <div class="mx-3">
                            <select class="form-select ">
                                <option selected>-請選擇身分-</option>
                                <option value="1">一般員工</option>
                                <option value="2">經理</option>
                            </select>
                        </div>
                    </div>
                    <div class="pt-2 d-flex col-6 align-items-center">
                        <div class=" width-90px text-end fw-bold">註冊日期</div>
                        <div class="mx-3">
                            <input type="text" class="form-control" value="2023/07/19">
                        </div>
                    </div>

                </div>
                <div class="row justify-content-around p-3">
                    <div class="col-12  mt-2 d-flex justify-content-start ">
                        <div class=" width-90px text-end fw-bold">地址</div>
                        <div class="mx-3">
                            <select class="form-select ">
                                <option selected>-請選擇縣市-</option>
                                <option value="1">台北市</option>
                                <option value="2">新北市</option>
                                <option value="3">桃園市</option>
                            </select>
                        </div>
                        <div class="mx-3">
                            <select class="form-select ">
                                <option selected>-請選擇地區-</option>
                                <option value="1">大安區</option>
                                <option value="2">中山區</option>
                                <option value="3">中正區</option>
                            </select>
                        </div>
                        <div class="mx-3 ">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-around p-5">
                    <div class="text-center ">
                        <input type="button" value="確定編輯" class="EditAddButton p-2 px-4">
                        <input type="button" value="取消" class="AddButton p-2 px-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{

}


@section Styles{
    <link href="~/css/EmployeeCreate.css" rel="stylesheet" />
    <link href="~/css/EmployeeEdit.css" rel="stylesheet" />
    <link href="~/css/Common.css" rel="stylesheet" />
    <link href="~/css/Reset.css" rel="stylesheet" />
}

