<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onique|@ViewData["Title"]</title>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar shadow navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="width-60px">
                        <img src="~/images/header/Logo.png" />
                    </div>
                    <div class="width-120px">
                        <img src="~/images/footer/logoen.png" />
                    </div>
                </a>
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 gap-3">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">新品到貨</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">熱銷商品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">所有商品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">優惠專區</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center gap-5 mx-3">
                        <div class="d-flex align-items-center gap-2 p-1 bg-white rounded-3">
                            <div class="width-170px">
                                <input type="text" class="form-control border-0" placeholder="請輸入關鍵字" />
                            </div>
                            <a asp-controller="">
                                <div class="width-30px">
                                    <img src="~/images/header/loupe.png" />
                                </div>
                            </a>
                        </div>
                        <div class="width-30px">
                            <img src="~/images/header/user.png" />
                        </div>
                        <div class="width-30px">
                            <img src="~/images/header/like.png" />
                        </div>
                        <div class="width-30px">
                            <img src="~/images/header/shopping-cart.png" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="footer fs-6 bg-dark">
        <div class="container mx-auto text-white row">
            <div class="col-3">
                <div class="lh-1 fw-bold fs-4 my-3">
                    關於Onique
                </div>
                <div class="lh-1 my-3 fs-12px">
                    品牌故事
                </div>
                <div class="lh-1 my-3 fs-12px">
                    店鋪資訊
                </div>
                <div class="lh-1 my-3 fs-12px">
                    聯絡我們
                </div>
            </div>
            <div class="col-3">
                <div class="lh-1 fw-bold fs-4 my-3">
                    購物相關
                </div>
                <div class="lh-1 my-3 fs-12px">
                    隱私權保護政策
                </div>
                <div class="lh-1 my-3 fs-12px">
                    退換貨說明
                </div>
                <div class="lh-1 my-3 fs-12px">
                    會員電子報
                </div>
            </div>
            <div class="col-3">
                <div class="lh-1 fw-bold fs-4 my-3">
                    官方社群
                </div>
                <div class="lh-1 my-3 fs-12px">
                    Facebook
                </div>
                <div class="lh-1 my-3 fs-12px">
                    Line
                </div>
                <div class="lh-1 my-3 fs-12px">
                    Instagram
                </div>
                <div class="lh-1 my-3 fs-12px">
                    Youtube
                </div>
            </div>
            <div class="col-3 mt-3">
                <div>
                    <img src="~/images/footer/logoen.png" />
                </div>
                <div class="row justify-content-center gap-3">
                    <div class="col-2">
                        <img src="~/images/footer/fb_logo.png" />
                    </div>
                    <div class="col-2">
                        <img src="~/images/footer/ig_logo.png" />
                    </div>
                    <div class="col-2">
                        <img src="~/images/footer/line_logo.png" />
                    </div>
                    <div class="col-2">
                        <img src="~/images/footer/youtube.png" />
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
