@{
    ViewData["Title"] = "優惠專區";
}

<div class="container border p-2">
    <div class="border p-2 d-flex container">
        <div class="w-400-h-400">
            <img src="~/images/DiscountPhoto/夏季特賣.jpg" class="rounded" />
        </div>
        <div class="border p-2 flex-fill bg-secondary bg-opacity-10 position-relative">
            <div class="m-5 border">

                <div class="fw-bold fs-4 border m-4">
                    123
                </div>
                <div class="fs-14px m-4">
                    123123123123123123
                    123123123123123123
                    123123123123123123
                    123123123123123123
                </div>
            </div>
            <div class="m-4">
                <input type="button" class="btn btn-outline-dark btnSearchDiscout" value="查看優惠商品" />
            </div>
        </div>
    </div>
</div>
@section Styles{
    <style>

        .btnSearchDiscout {
            position: absolute;
            right: 6%;
            bottom: 10%;
        }
    </style>
}