@model prjOniqueWebsite.Models.EFModels.Discounts
@{
    ViewData["Title"] = "優惠管理";
    Layout = $"{Url.Content("~/Views/Shared/_Layout_Background.cshtml")}";
}

<div class="container my-2 p-2 border border-secondary rounded-4 shadow justify-content-center">
    <div>
        <div class="row text-center border-bottom mx-2 p-2">
            <div class="fs-3 fw-bold">優惠管理</div>
        </div>
        <div class="col-2 mx-4 my-3">
            <a asp-action="Create" class="btn btn-dark">新增優惠</a>
        </div>
    </div>
    <div class="container justify-content-center d-flex">
        <table class="table table-borderless table-hover align-middle text-center my-0">
            <thead>
                <tr class="table-secondary">
                    <th>活動名稱</th>
                    <th>生效日期</th>
                    <th>結束日期</th>
                    <th>折扣方式</th>
                    <th>活動圖片</th>
                    <th>編輯</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody id="BgDiscountList">
            </tbody>
        </table>
    </div>
@*    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link " style="color: black;" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" style="color: black;" href="#">1</a></li>
                <li class="page-item"><a class="page-link" style="color: black;" href="#">2</a></li>
                <li class="page-item"><a class="page-link" style="color: black;" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" style="color: black;" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
*@</div>
@section Scripts{
    <script>
        const BgDiscountList = document.querySelector("#BgDiscountList")

        load()
        async function load() {
            const response = await fetch(`@Url.Content("~/BgProductManageApi/LoadDiscountList")`)
            const data = await response.json();

            const TableBgDiscount = data.map(item => {
                let { id, title, discountMethod, beginDate, endDate, photoPath } = item
                const formatdatebeginDate = formatDate(beginDate);
                const formatdateEndDate = formatDate(endDate)
                discountMethod = (discountMethod * 100) + "%Off";

                return (`
                            <tr>
                                <td>${title}</td>
                                <td>${formatdatebeginDate}</td>
                                <td>${formatdateEndDate}</td>
                                <td>${discountMethod}</td>
                                <td><img src="@Url.Content("~/images/DiscountPhoto/")${photoPath}"  style="width:180px;"/></td>
                                <td>
                                    <a href="@Url.Content("~/DiscountManage/Edit/")${id}"><img src="@Url.Content("~/images/BgProductManage/edit.png")" class="width-30px" alt=""></a>
                                </td>
                                <td>
                                    <div class="mx-auto cursor-pointer divDeleteDiscount" data-id="${id}" style="height:30px;width:30px">
                                        <img src="@Url.Content("~/images/BgProductManage/trash.png")" alt="">
                                    </div>
                                </td>
                            </tr>`)
            })
            BgDiscountList.innerHTML = TableBgDiscount.join("");
        }
        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0'); // 補零至兩位數
            const day = String(date.getDate()).padStart(2, '0'); // 補零至兩位數
            return `${year}-${month}-${day}`;
        }

        $("#BgDiscountList").on('click', '.divDeleteDiscount',async function(event){
            event.stopPropagation();

            Swal.fire({
                text: "確定要刪除優惠活動?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#000000',
                cancelButtonColor: '#9D9D9D	',
                cancelButtonText: '取消',
                confirmButtonText: '確定刪除'
            }).then((result) => {
                if (result.isConfirmed) {

                    let id = $(this).data("id")

                    DeleteDiscount(id)

                }
            })
        })

        async function DeleteDiscount(id){

            const response = await fetch(`@Url.Content("~/DiscountManageApi/DeleteDiscount/")${id}`)
            const data = await response.json();

            const { statusCode, statusMessage } = data;

            if (statusCode) {
                Swal.fire({
                    title: statusMessage,
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500,
                })
                setTimeout(() => {
                    load()
                }, 1500)

            }
            else {
                Swal.fire({
                    title: statusMessage,
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 1500
                })
            }

        }
    </script>
}
