
  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
img{
    width: 100%;
}
.myContainer{
    width: 100%;
}
.myContainer .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    height: 10vh;
}
.myContainer.nav{

    position: sticky;
    top: 0;
}
.myContainer .nav .logoAndTitle{
    display: flex;
    align-items: center;
}
.myContainer .nav .logoAndTitle .logo{
    width: 200px;
    margin: 20px;
    transition: all 1s;
}
.myContainer .nav .logoAndTitle .logo:hover{
    width: 220px;
    margin: 20px;
    transform: rotate(720deg);
}
.myContainer .nav .logoAndTitle .title{
    color: white;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}
.myContainer .nav .accountAndManage{
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    margin: 0 30px;
}
.myContainer .nav .accountAndManage .photoStickers{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.myContainer .nav .accountAndManage .photoStickers:hover{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}
.myContainer .nav .accountAndManage .backgroundHeadIcon{
    position: relative;
    height: 30px;
    width: 30px;
}
.myContainer .nav .accountAndManage .backgroundHeadIcon:hover{
    position: relative;
    height: 35px;
    width: 35px;
    transition: all 0.5s;
    cursor: pointer;
}
.myContainer .nav .accountAndManage .notify{
    position: absolute;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    top:-20px;
    right: -20px;
}
.myContainer .optionsAndContent{
    display: flex;
}
.myContainer .optionsAndContent .managerOptions{
    background-color: 	#3C3C3C;
    width: 300px;
    height: 90vh;
    transition: all 0.5s;
    position: relative;
    left: 0;
}
.myContainer .optionsAndContent .managerOptions.sticky{
    position: sticky;
    top: 10vh;
}
.myContainer .optionsAndContent .managerOptions .btnOptions{
    margin: 15px 0 ;
    padding: 10px 30px;
    width: 300px;
    box-sizing: border-box;
    color: white;
    display:flex;
    align-items: center;
    gap: 20px;
    user-select: none;
    cursor: pointer;    
    transition: all 0.5s;
}
.myContainer .optionsAndContent .managerOptions .btnOptions:hover{
    color: wheat;
    font-weight: bold;
    font-size: 18px;
}
.myContainer .optionsAndContent .managerOptions .btnOptions .icon{
    width: 30px;
    height: 30px;
   
}
.myContainer .optionsAndContent .managerOptions .btnOptions.menu{
    margin: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}
.myContainer .optionsAndContent .managerOptions.min{
    width:50px ;
    height: 50px;
    overflow: hidden;
    background-color: #272727;
}
.messageIcon{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
}
.myContainer .optionsAndContent .content{
    padding: 20px;
    width: 100%;
}
.myContainer .optionsAndContent .content .card{
    margin: 20px 0;
    border: 1px #272727 solid;
    width: 100%;
    border-radius: 30px;
    display: flex;
}
.myContainer .optionsAndContent .content .card .cardPhotoStickers{
    margin: 30px;

    width: 100px;
    height: 100px;

    border-radius: 50%;

    object-fit: cover;
    overflow: hidden;
}