.circle-size-16 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.circle-size-25 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.circle-size-35 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.circle-size-40 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.circle-size-55 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.circle-size-60 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.circle-size-150 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.circle-size-300 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.color-95CACA {
    background-color: #95CACA;
}

.color-D9B3B3 {
    background-color: #D9B3B3;
}

.color-FCFCFC {
    background-color: #FCFCFC;
}

.color-66B3FF {
    background-color: #66B3FF;
}

.color-FFE66F {
    background-color: #FFE66F;
}

.color-CA8EC2 {
    background-color: #CA8EC2;
}

.color-FFAD86 {
    background-color: #FFAD86;
}

.color-FF7575 {
    background-color: #FF7575;
}

.color-fff {
    background-color: #fff;
}

.width-16px {
    width: 16px
}

.width-30px {
    width: 30px;
}

.width-40px {
    width: 40px;
}

.width-50px {
    width: 50px;
}

.width-60px {
    width: 60px;
}

.width-80px {
    width: 80px;
}

.width-90px {
    width: 90px;
}

.width-120px {
    width: 120px;
}

.width-150px {
    width: 150px;
}

.width-170px {
    width: 170px;
}

.width-200px {
    width: 200px;
}

.width-250px {
    width: 250px;
}

.width-265px {
    width: 265px;
}

.width-300px {
    width: 300px;
}
.width-400 {
    width:400px;
}
.width-1000px {
    width: 1000px;
}

.width-1110px {
    width: 1110px;
}

.width-1200px {
    width: 1200px;
}

.width-1400px {
    width: 1400px;
}

.w-25-h-25 {
    width: 25px;
    height: 25px;
}

.w-90-h-90 {
    width: 90px;
    height: 90px;
}

.w-120-h-120 {
    width: 120px;
    height: 120px;
}

.w-150-h-150 {
    width: 150px;
    height: 150px;
}

.w-200-h-200 {
    width: 200px;
    height: 200px;
}

.w-240-h-240 {
    width: 240px;
    height: 240px;
}

.w-260-h-330 {
    width: 260px;
    height: 330px;
}

.w-400-h-400 {
    width: 400px;
    height: 400px;
}

.w-450-h-450 {
    width: 450px;
    height: 450px;
}

.w-500-h-500 {
    width: 500px;
    height: 500px;
}

.cover {
    object-fit: cover;
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer
}

.modalOrderQty {
    border: 1px solid black;
}
