@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

.EmployeeMain{
    width: 1500px;
    padding: 50px;
    margin: 5px auto;
    border: 2px solid red;
}

.EmployeeStatus{
    width: 800px;
    margin: 5px auto;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid green;
}

.EmployeeTable{
    border-collapse: collapse;
    width: 1500px;
    border: 2px solid black;
    text-align: center;
}

table tbody tr:nth-child(odd){  /*設定奇數列顏色*/
    background-color: #eee
  }

.EmployeeTitle{
    background-color: black;
    color: white;
    border: 2px solid pink;
    height: 80px;
    font-size: 20px;
}

.EmployeeTr{
    height: 100px;
    
}

.EmployeeAdd{
    height: 80px;
    
    border: 2px solid orange;
}

.AddButton{
  border:1;
  background-color:black;
  color:white;
  border-radius:10px;
  cursor:pointer; /*改變滑鼠游標形狀 */
  font-size: 17px;
  
}
.AddButton:hover{
    color:white;
    background-color:#5B5B5B;
    
  }

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.EmployeePagination{
    text-align:center;
    padding: 100px;
}

.imgbox{
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
