.nav-logo {
    width: 60px;
    height: 60px;
    transition: all 0.5s;
}

.nav-logo-en {
    width: 130px;
    transition: all 0.5s;
}

.nav-logo:hover {
    width: 65px;
}

.nav-logo-en:hover {
    width: 135px;
}

.nav-text {
    transition: all 0.5s;
}

    .nav-text:hover {
        font-size: 18px;
        font-weight: bold;
        color: #FFD306;
    }

    .nav-text:not(:hover) {
        transition: all 0.5s;
    }

.nav-icon{
    width:30px;
    height:30px;
    transition:all 0.5s;
}
.nav-icon:hover {
    width: 35px;

}