@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    user-select:none;
}
img{
    width: 100%;
    height:100%;
    object-fit:cover;
}