
@{
    ViewData["Title"] = "powerbi";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}

<div class="align-content-center">
    <iframe title="期末專題" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZTNkYjY1NmYtYzgyYy00NTVhLWEzYWEtNzI2YmI0OGVlZTZkIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

