@{
    ViewData["Title"] = "首頁";
}

<div>
    <div class="myCarousel">
        <div class="myContainer">
            <img src="/Images/Carousel/Carousel_1.jpg">
            <img src="/Images/Carousel/Carousel_2.jpg">
            <img src="/Images/Carousel/Carousel_3.jpg">
        </div>
        <div class="shift">
            <div class="btn left" onclick="leftShift()">
                <img src="/Images/Carousel/left.png">
            </div>
            <div class="btn right" onclick="rightShift()">
                <img src="/Images/Carousel/right.png">
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
    <div class="myTitle">
        <div class="TitleIcon">
            <img src="~/images/icon/price-sticker.png" />
        </div>
        <p>
            新商品
        </p>
    </div>
    <div class="ProductWall" id="newProd">
        @*        <div class="productCard">
        <div class="productPhoto">
        </div>
        <p class="productName" id="Name">
        </p>
        <p class="productPrice">
        <span id="price"></span>
        </p>
        <div class="productIcon">
        <div class="cardIcon">
        <img src="~/images/icon/shopping_black.png" />
        </div>
        <div class="cardIcon">
        <img src="~/images/icon/love.png" />
        </div>
        </div>
        </div>*@
    </div>
    <div class="myTitle">
        <div class="TitleIcon">
            <img src="~/images/icon/fire.png" />
        </div>
        <p>
            熱銷商品
        </p>
    </div>
    <div class="ProductWall">
    </div>
</div>
@section Styles{
    <link href="~/css/homepage.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/homepage.js"></script>
    <script>
        const newProd = document.querySelector('#newProd');

        load()
        async function load() {
            const response = await fetch('@Url.Content("~/ProductApi/ProductCard")');
            const data = await response.json();
            console.log(data.productName, data.price)

            let str = `<div class="productCard">
                <div class="productPhoto">
                                        <img src="@Url.Content("~/images/uploads/products/")${ data.productName }.jpg" />
                </div>
                <p class="productName" id="Name">
                        ${data.productName}
                </p>
                <p class="productPrice">
                <span id="price">${data.price}</span>
                </p>
                <div class="productIcon">
                <div class="cardIcon">
                <img src="@Url.Content("/images/icon/shopping_black.png")" />
                </div>
                <div class="cardIcon">
                <img src="@Url.Content("~/images/icon/love.png")" />
                </div>
                </div>
                </div>`

            console.log(str)
            newProd.innerHTML = str;
        }
    </script>
}