@model prjOniqueWebsite.Models.ViewModels.LoginVM

@{
    ViewData["Title"] = "會員登入";
}

<div class="fill-vh border">
    <form class="border divLogin">

    </form>
</div>


@section Styles{
    <style>
        .fill-vh{
            height:calc(100vh - 287px);
        }
        .divLogin{
            width:800px;
            margin:auto;
        }
    </style>
}