
@{
    ViewData["Title"] = "BgColorSizeSetting";
    Layout = "~/Views/Shared/_Layout_Background.cshtml";
}

<div class="container d-flex p-3 justify-content-center">
    <div class="col-2" style="margin-left: 8%;">
        <div class="text-center my-2">
            <div class=" border p-3 rounded-4 ">
                <div class="p-2 my-1 bg-dark text-white rounded">
                    商品細部編輯
                </div>
                <div class="container">
                    <input type="button" value="尺寸、顏色設定"
                           class="btn btn-outline-dark form-control border my-2 fw-bold">
                    <input type="button" value="新增尺寸" class="btn btn-outline-dark border form-control my-2 fw-bold">
                    <input type="button" value="新增顏色" class="btn btn-outline-dark border form-control my-2 fw-bold">
                    <input type="button" value="庫存量設定"
                           class="btn btn-outline-dark border form-control my-2 fw-bold">
                </div>
            </div>
        </div>
    </div>
    <div class="container col-6 border rounded-4 mx-4 justify-content-center shadow">
        <div class="container justify-content-center text-center">
            <div class="align-items-center fs-3 fw-bold border-bottom p-2">尺寸、顏色設定</div>
        </div>
        <div class="my-3">
            <div class="d-flex p-2 align-items-center text-center my-2" style="font-size: 18px; margin-left: 30%;">
                <div class="text-center fw-bold">商品名稱 :</div>
                <div class="mx-2">不規則條紋上衣</div>
            </div>
            <div class="d-flex p-2 align-items-center my-2" style="font-size: 18px; margin-left: 30%;">
                <div class="fw-bold text-center">商品尺寸 :</div>
                <div class="mx-2">
                    <select class="form-select">
                        <option>請選擇</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                </div>
            </div>
            <div class="d-flex p-2 align-items-center my-2" style="font-size: 18px; margin-left: 30%;">
                <div class="fw-bold text-center">商品顏色 :</div>
                <div class="mx-2">
                    <select class="form-select">
                        <option>請選擇</option>
                        <option>黑色</option>
                        <option>藍灰色</option>
                        <option>綠色</option>
                        <option>灰色</option>
                        <option>黑色</option>
                        <option>棕色</option>
                        <option>米色</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 20px;">
            <div class="text-center ">
                <input type="button" class="btn btn-outline-dark fw-bold mx-4" value="取消">
                <input type="submit" class="btn btn-dark fw-bold" value="新增庫存資料">
            </div>
        </div>
    </div>
</div>